# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack
.env
yarn-error.log
NOTES.md
.terraform
infra/outputs.json
backend/latency.png

packages/platform/dist/**
packages/engine/dist/**
